<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<head>
  <title>Добавить аниме</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="Blanks/Menu"></header>
<div align="center">
  <h1>
    <span class="badge text-bg-dark" style="margin-bottom: 20px">Добавление аниме</span>
  </h1>
  <form action="/Anime/add" method="post" th:each="pro:${anime}" >
    <input th:text="*{pro.name}" type="text" name="name" placeholder="Имя" required style="margin-bottom: 20px"><br>
    <input th:text="*{pro.quantity}" type="text" name="quantity" placeholder="Количество" required style="margin-bottom: 20px"><br>
    <button type="submit" class="btn btn-lg btn-success">Добавить аниме</button><br><br>
    <a href="/Anime" class="btn btn-lg btn-danger">Вернуться</a>
  </form>
</div>
</form>
</body>
</html>