<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Поиск</title>
</head>
<body>
<header th:insert="Blanks/Menu"/>
<div align="center">
    <h1>
        <span class="badge text-bg-dark" style="margin-bottom: 20px">Поиск сотрудника</span>
    </h1>
    <form  method="post" th:action="${'/Employee/Search'}">
        <input type="text" name="name" >
        <input type="submit" value="Найти" class="btn btn-primary">
        <div th:each="pro : ${search}">
            <p th:text="${pro.name}" class="badge text-bg-secondary"></p>
        </div>
    </form><br>
    <a href="/Employee" class="btn btn-lg btn-danger">Вернуться</a>
</div>
</body>
</html>