<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<head>
    <meta charset="UTF-8">
    <title>Информация о сотруднике</title>
</head>
<body>
<header th:insert="Blanks/Menu"/>
<div th:each="pro:${employee}" align="center">
        <h1>
    <span class="badge text-bg-dark">Информация о сотруднике</span><br>
        </h1>
    <h4><span class="badge text-bg-dark" >Имя:</span>
    <p  th:text="${pro.name}" class="badge text-bg-secondary"/></h4>
    <h4><span class="badge text-bg-dark" >Фамилия:</span>
    <p th:text="${pro.surname}" class="badge text-bg-secondary"></p></h4>
    <h4><span class="badge text-bg-dark" >Дата рождения:</span>
    <p th:text="${pro.number}" class="badge text-bg-secondary"></p></h4>
    <h4><span class="badge text-bg-dark" >Почта:</span>
    <p th:text="${pro.email}" class="badge text-bg-secondary"></p></h4>
    <a th:href="'/Employee/'+${pro.id}+'/edit'" class="btn btn-success">Изменить</a><br><br>
    <form th:action="'/Employee/'+${pro.id}+'/remove'" method="post">
        <button type="submit" class="btn btn-lg btn-danger">Удалить</button><br><br>
    </form>
    <a href="/Employee" class="btn btn-lg btn-danger">Вернуться</a>
</div>
</body>
</html>